
*{
    margin-right: 0px;
    padding: 0;
}
.IconeVoltar{
    margin: 20px;
}
.grupo{
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.classif{
    margin-left: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.rodadas{
    margin-top: 150px;
    margin-bottom: 25px;
    text-align: center;
}
.jogos{
    text-align: center;
}
.bandeiras{
    text-align: center;
    margin-bottom: 30px;
}
.setas{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
}
